
            
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulaire de connexion </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
  <form #loginForm="ngForm">
     
    <h1>Se connecter</h1>
    <p class="choose-email">ou utiliser mon adresse e-mail :</p>
    
    <div class="inputs">
      <input name="email" #email type="email" placeholder="Email" />
      <input name="password" #password type="password" placeholder="Mot de passe">
    </div>
    <div *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Mot de passe ou nom d'utilisateur incorrect
   </div>
    
    <p class="inscription">Je n'ai pas de <span>compte</span>. Je m'en <span>crée</span> un.<a href="/login" ><u>Connectez vous</u></a></p>
    <div align="center">
      <button [disabled]="!loginForm.valid" (click)="OnSubmit(email.value,password.value)" type="submit">Se connecter</button>
    </div>
  </form>
</body>

