
.gradient-custom-3 {
  /* fallback for old browsers */
  background: #fa9f84;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(250, 156, 132, 0.5), rgba(224, 66, 66, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(250, 199, 132, 0.5), rgba(244, 143, 143, 0.5))

}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(250, 132, 132), rgb(244, 209, 143));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(250, 132, 132), rgb(244, 183, 143))
}

  /*logo*/
  #logo {
      width: 500px;
      margin-right: 1em;
      max-width: 100%;
      height: auto;
      display: block;
  }

a {
  color: black;
}
