<!-- 
<head>
	<meta charset="UTF-8">
	<title>Notification Dropdown</title>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".notification_icon .fa-bell").click(function(){
				$(".dropdown").toggleClass("active");
			})
		});
	</script>
</head>
<body>
	
<div class="wrapper">
	<div class="notification_wrap">
		<div class="notification_icon">
			<i class="fas fa-bell">
        
      </i>

		</div>
		<div class="dropdown">
			<div class="notify_item">
				<div class="notify_info">
					<p>Alex commented on<span>Timeline Share</span></p>
				</div>
			</div>
			<div class="notify_item">
				<div class="notify_info">
					<p>Ben hur commented on your<span>Timeline Share</span></p>
				</div>
			</div>
		</div>
	</div>
</div>

</body> -->
<div class = "notification-wrapper">
	<div class="notification-btn" (click)="openNotification(!showNotification)">
		<img src="./assets/fi-cnluxt-bell_xs.png">
		<div style="font-size: 15px;" class="badge bg-danger">{{totalNotif}}</div>
		
	</div>
	<div *ngIf="showNotification" class="notification-content" 
		  (clickOutside)="openNotification(false)" [exclude]="'.notification-btn'">
		  <div class="notification-header">
			<span class="mdi mdi-settings"></span>
			<span class="label">Notifications</span>
			<ng-container>
				
			</ng-container>
		  </div>
	 </div>
		
</div>

