
 <nav class = "navbar">
  <div class="top-navbar" style="width: 100%">
    <div class="nav">
      <a href=""><img class= "brand-logo"  src= "./assets/logo.png" alt></a>
    </div>
    <div class = "nav-items" style="width: 55%; margin-top: 10px">
      <div class="searchbar" style="width: 560px;">
        <input
          placeholder="Rechercher"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          [(ngModel)]="data"
          class = "search-box"
        >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <button class="search-btn"  (click)="rechercher()"> Rechercher </button>

      </div>

      <div  *ngIf="isConnected" class ="nav-icon">
        <ul id="menu-demo2">
          <li><a><img src="./assets/user.png" alt=""></a>
            <ul>
              <li><a  style="font-size: 18px" href="/profil">Compte</a></li>
              <li><a style="font-size: 18px" (click)="disconnect()">Deconnect</a></li>
            </ul>
          </li>
          <li>
            <div>
              <a href="/cart" ><img src="./assets/cart.png" alt="">
                <div style="font-size: 15px;" class="badge bg-danger">{{totalItem}}</div></a>
            </div>
          </li>
          <app-notification-component
          [notificationList]="notificationList"
          [totalNotif]="totalNotif">
          </app-notification-component>
        </ul>
      </div>
      <a *ngIf="!isConnected" href="/login"><img  style= "width:50px; margin-right: 10%;"src="./assets/userIcon.jpg" alt="" ></a>
   

    </div>
  </div>
  <ul class="links-container">
    <li class= "link-item"><a class= "link" href= ""> ACCUEIL</a></li>
    <li class= "link-item" ><a class= "link" href= "/produits"> OFFRES</a></li>
    <li class= "link-item"><a class= "link" href= "cours"> AIDES AUX DEVOIRS</a></li>
    <li class= "link-item"><a class= "link" href= "/forum"> FORUM</a></li>
  </ul>
</nav>

