<nav class = "navbar">
  <div class="nav">
    <a href=""><img class= "brand-logo"  src= "./assets/logo.png" alt></a>
    <div class = "nav-items" >
      <div class="searchbar " style= "margin-left: 100px; margin-top: -1px;" >
        <input
        placeholder="Rechercher"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [(ngModel)]="data"
        class = "search-box"
        >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option">
          {{option}}
        </mat-option>
        </mat-autocomplete>
        <button class="search-btn"  (click)="rechercher()"> Rechercher </button>
        <a href="" ><img src="./assets/notif.png">
          <div style="font-size: 15px;" class="badge bg-danger">{{totalNotif}}</div></a>
      </div>
      <div  *ngIf="isConnected">
    
        <ul id="menu-demo2">
          <li><a><img src="./assets/user.png"></a>           
            <ul>
              <li><a  href="/profil">Mon compte</a></li>
              <li><a (click)="disconnect()">Se deconnecter</a></li>
            </ul>
          </li>
        </ul>
          <div  style="padding: 5px 50px 10px 55px;">
          <a href="/cart" ><img src="./assets/cart.png"></a>

        </div>
        
        <!-- <div style="font-size: 15px;" class="badge bg-danger">{{totalItem}}</div>  -->
      </div>
      <a *ngIf="!isConnected" href="/login"><img  style= "width:50px; margin-right: 10%;"src="./assets/userIcon.jpg" ></a>

    </div>
  </div>
  <ul class="links-container">
    <li class= "link-item"><a class= "link" href= ""> ACCUEIL</a></li>
    <li class= "link-item" ><a class= "link" href= "/produits"> OFFRES</a></li>
    <li class= "link-item"><a class= "link" href= "cours"> AIDES AUX DEVOIRS</a></li>
    <li class= "link-item"><a class= "link" href= "/forum"> FORUM</a></li>
  </ul>
</nav>

