

                <form>
                  <h2 class="text-uppercase text-center mb-5">Veuillez remplir les champs</h2>

                  <div class="form-outline mb-4">
                    <input [(ngModel)]="data.name" type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Intitulé du cours"  [ngModelOptions]="{standalone: true}"/>
                  </div>
                  <div class="form-outline mb-4">
                    <textarea [(ngModel)]="data.description" class="form-control h-25" rows="5" placeholder="Description" required  [ngModelOptions]="{standalone: true}"></textarea>
                  </div>
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="data.startDate" type="date" id="form3Example1cg" class="form-control form-control-lg" placeholder="Choisir une date" [ngModelOptions]="{standalone: true}"/>
                  </div>
                  <div>
                    <button class="btn btn-secondary" (click)="onNoClick()">Annuler</button>
                    <button class="btn btn-primary" style="float:right;"  mat-button [mat-dialog-close]="data" cdkFocusInitial> Valider</button>
                    
              </div>
                  <p><a href="" class="fw-bold text-body"><u>Retour à l'accueil</u></a></p>
                </form>



