<app-barre-de-recherche></app-barre-de-recherche>
<!DOCTYPE html>
<html>

   <!-- body -->
   <body class="main-layout">
   <style>
      *{box-sizing: border-box}

      body{
        margin:0
      }

      @keyframes animation_slide {


    0% {transform:translatex(-5%)}
    20%{transform:translatex(-5%)}

    25%{transform:translatex(-20%)}
    45%{transform:translatex(-25%)}

    50%{transform:translatex(-40%)}
    70%{transform:translatex(-45%)}

    75%{transform:translatex(-60%)}
    95%{transform:translatex(-65%)}

    100%{transform:translatex(-80%)}
        }

      .am img{

      pointer-events:none;
      height:60vh;
      object-fit:contain;
      float:left;
      width:20%

        }


      .am{
      position:relative;
      animation:15s animation_slide infinite;
      overflow:hidden;
      width:900%;

      }
      @media (min-width:70rem){

      .am img{

        object-fit:cover

        }

        }
      </style>
     <div class="container">
      <figure class="am">
        <img   src= "./assets/livre2.jpg" alt>
        <img src= "./assets/img4.jpeg" alt>
        <img src= "./assets/aide.jpg" alt>
        <img src= "./assets/li.jpg" alt>
        <img  src= "./assets/forum.jpg" alt>
      </figure>
    </div>
      <!-- end banner -->
      <!-- about -->
      <div id="about"  class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Vente - Echange - Don </h2>
                     <span></span>
                     <p>Profitez d'un service innovant ! Retrouvez ici un large choix d'offres à petits prix, gratuits ou même échangeables. Vous pourrez également proposer vos propres offres ici gratuitement alors n'attendez pas. </p>
                     <a class="read_more" href= "/produits"> Voir les offres <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="about_img">
                     <figure><img src="./assets/aide2.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- mobile -->
      <div id="mobile"  class="mobile">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="mobile_img">
                     <figure><img src="./assets/livre.png" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2>Etudions ensemble ! </h2>
                     <span></span>
                     <p>Profitez d'un service dédié à vos revisions. Vous trouverez ici des cours proposés par des étudiants. </p>
                     <a class="read_more" href= "/cours">Je commence <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end mobile -->
            <!-- clients -->
      <div class="clients">
        <div class="container">
           <div class="row">
              <div class="col-md-6 offset-md-3">
                 <div class="titlepage">
                    <h2>Vous avez une question ? </h2>
                    <span></span>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="clients_box">
                    <p>Vous avez la possibilité de communiquer avec d'autres utilisateur. Alors n'hésitez pas à poser vos questions et répondre à d'autres étudiants qui seront ravis de vous lire.</p>
                    <style> .clients_box::after{background:url(./assets/cli_cross.png)}</style>
                  </div>
                 <div class="jonu">
                    <img style="width: 30%; height: 30%; border-radius: 2%;" src="./assets/questuionrep.jpg" alt="#"/>
                    <br><br><br>
                    <a class="read_more" href= "/forum">J'accède au forum</a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end clients -->
      <!--  contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Besoin d'aide ? Contactez nous</h2>
                  </div>
               </div>
               <div class="col-md-6 offset-md-3">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Nom et prenom" type="type" name="Nom complet">
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Numéro de télephone" type="type" name="Numéro de télephone">
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-12">
                           <textarea class="contactus" placeholder="Votre message" type="type" Message="Name">Message </textarea>
                        </div>
                        <div class="col-sm-12">
                           <button class="send_btn">Envoyer</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
   <!--<footer>-->
   <!-- <div class="footer">
       <div class="container">
          <div class="row border-top">


          </div>
       </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                <a
                class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://github.com/AideEtudiants"
                role="button"
                data-mdb-ripple-color="dark"
              ><i class="fab fa-github"></i></a>
                  <p>© 2022 All Rights Reserved. <a class="text-dark" href="/#">Studenity</a></p>

               </div>
               </div>
              </div>
             </div>
             </div>-->
   <!--</footer>-->
      <!-- end footer -->
      <!-- Javascript files-->
    <script src=".\js\jquery.min.js"></script>
      <script src=".\js\popper.min.js"></script>
      <script src=".\js\bootstrap.bundle.min.js"></script>
      <script src=".\js\jquery-3.0.0.min.js"></script>

       <!--sidebar -->
      <script src=".\js\jquery.mCustomScrollbar.concat.min.js"></script>
      <script src=".\js\custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>
