<meta charset="utf-8" />
<div><app-barre-de-recherche
  [totalItem]="totalItem"
  ></app-barre-de-recherche>
  </div>
  <br>
<!-- <div class="container">
    <div class="container1" style="float:left; margin-left:0%;margin-top: 0px;">
      <img height="100" style="max-width: 120px;background-position: top left;"  src="{{user.photo}}" alt="">
  <div class="">
    <h1 class="center2">Votre profil<span role="img" aria-label="Clipboard">📋</span> </h1>
    <ng-container>
      <p style="text-align: left; margin-left:10%"><strong>Nom: </strong>{{user.lastName}}</p>
      <p style="text-align: left; margin-left:10%"> <strong>Prenom: </strong>{{user.firstName}}</p>
      <p style="text-align: left; margin-left:10%"><strong>Email: </strong>{{user.email}}</p>
      <p style="text-align: left; margin-left:10%"><strong>Date de naissance: </strong>{{user.birthDate}}</p>
      <p style="text-align: left; margin-left:10%"><strong>Année d'étude: </strong>{{user.studyLevel}}</p>
      <p style="text-align: left; margin-left:10%"><strong>Etablissement: </strong>{{user.establishment}}</p>
    <p style="text-align: left; margin-left:10%"><strong>Certificate: </strong>{{user.certificateRegist}}</p>
  </ng-container>
   
  </div>

  </div>
 


  <div class="container3">
    <h1 class="center2">Vos offres déposées </h1><br>
    <ng-container *ngFor="let product of products" >
      <p>
      <button class="btn btn-success" [routerLink]="['/updateProduit', product.id]">Modifier</button> 
        <button class="btn btn-danger" (click)="deleteProduct(product)">Supprimer</button>

        <strong> Nom du produit: </strong>{{product.name}}
        <strong> Description: </strong>{{product.description}}
      </p>
    </ng-container>
  </div><br>

  <div class="container3">
    <h1 class="center2">Cours mis en ligne </h1><br>
    <ng-container *ngFor="let clas of classByUserCreator">
      <p>
        <button class="btn btn-success" [routerLink]="['/updateClass', clas.id]">Modifier</button> 
        <button class="btn btn-danger" (click)="deleteClass(clas)">Supprimer</button>
        <strong>Nom du cours: </strong>{{clas.name}}
        <strong> Description: </strong>{{clas.description}}
        <strong>Date de début: </strong>{{clas.startDate}}
      </p>
    </ng-container>
  </div>
  <div class="container3">
    <h1 class="center2"> Cours que {{ user.lastName}} a particié  </h1><br>
    <ng-container *ngFor="let clas of class">
      <p>
        <button class="btn btn-success" [routerLink]="['/updateClass', clas.id]">Modifier</button> 
        <button class="btn btn-danger" (click)="deleteClass(clas)">Supprimer</button>
        <strong>Nom du cours: </strong>{{clas.name}}
        <strong> Description: </strong>{{clas.description}}
        <strong>Date de début: </strong>{{clas.startDate}}
      </p>
    </ng-container>
  </div>


</div> -->



<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->

    <!-- Additional CSS Files -->
    <!-- <link rel="stylesheet" href="assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" /> -->

  
  <!--
  Reflux Template
  https://templatemo.com/tm-531-reflux
  -->
  <body>
    <div id="page-wraper" >
      <!-- Sidebar Menu -->
      <style> #page-wraper{background:url(./assets/page-bg.jpg) no-repeat center center fixed;}</style>
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <div class="container">
            <div class="image">
              <a href="#"><img src="{{user.photo}}" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>{{user.lastName}} {{user.firstName}} <br></h4>
              <span>{{user.birthDate}}<br></span>
              <span>{{user.studyLevel}} {{user.establishment}}<br></span>
              <span>{{user.email}}</span>
        </div>


        <nav class="main-nav" role="navigation">
        <ul class="main-menu">

                <li><a href="#section1">Mes offres</a></li>
                <li><a href="#section2">Mes cours publiés</a></li>
                <li><a href="#section3">Les cours auxquels je participe</a></li>
                
            </ul>
            </nav>
        
      </div>
</div>
</div>
      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <div class="line-dec"></div>
            <H1><span
              >Trouvez l'ensemble de vos activités réunies !</span
            ></H1><br><br><br><br>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="./assets/Ecole.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Mes offres</h4>
                  <p>
                    Sur ce menu, retrouvez la liste des toutes les offres auxquelles vous 
                    avez publié et mis à la dispositions des étudiants
                  </p>
                  <div class="white-button">
                    <a (click)="listeOffre()">Voir la liste</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>Mes cours publiés</h4>
                  <p>
                    Sur ce menu, retrouvez la liste des toutes les cours que vous 
                    avez publié et mis à la dispositions des étudiants
                  </p>
                  <div class="white-button">
                    <a href="#">Voir la liste</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="./assets/Courspub.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        
        </div>
      </section>

      <section class="section about-me" data-section="section1">        
        <div class="left-image-post">
        <div class="row">
          <div class="col-md-6"><br><br><br><br>
            <div class="left-image">
              <img src="./assets/Participation.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-text">
              <h4>Les cours auxquels je participe</h4>
              <p>
                Sur ce menu, retrouvez la liste des toutes les cours où vous êtes inscrtit pour y participer
              </p>
              <div class="white-button">
                <a href="#">Voir la liste</a>
              </div>
            </div>
          </div>
        </div>
      </div>
        </section>
      
  </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>
  
  
  </body>


